$light-font-size: 12px;
$lighXS-font-size: 13px;
$lightS-font-size: 14px;
$lightL-font-size: 16px;
$medium-font-size: 18px;
$mediumL-font-size: 24px;
$hard-font-size: 30px;

$light-font-weight: 300;
$lightXS-font-weight: 400;
$hard-font-weight: 400;

$lightS-line-height: 20px;
$lightL-line-height: 24px;
$medium-line-height: 27px;