body {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  color: $text-base;
  font-family: $font-helveticaPoppins;
  font-size: $lightL-font-size;
  line-height:  $medium-line-height;
  font-weight:  $light-font-weigh;
  @media #{$tab-mediaXl} {
    font-size: $light-font-size;
}
}

html {
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: $font-helveticaPoppins;
  font-weight:  $light-font-weigh;
  font-size: $hard-font-size;
  @media #{$tab-mediaXl} {
    font-size: $medium-font-size;
}

}

h5 {
  font-family: $font-helveticaPoppins;
  font-size: $lightS-font-size;
  font-weight:  $hard-font-weigh;
  @media #{$tab-mediaXl} {
    font-size: $lighXS-font-size;
  }
}
h6 {
  font-size: $lightS-font-size;
  color: $text-base;
  font-weight: $lightXS-font-weigh;
  margin:0;
}

p{
  font-size: $lightS-font-size;
  font-weight: $lightXS-font-weigh;
}

