$desktop-pointL: 1150px;
$desktop-pointXl: 1300px;
$tab-pointXl: 950px;
$mob-pointL: 550px;
$mob-pointXl: 600px;
$mob-point: 400px;

$screen: "only screen";

$mob-mediaXl: "#{$screen} and (max-width:#{$mob-pointXl})";

$mob-mediaL: "#{$screen} and (max-width:#{$mob-pointL})";

$mob-media: "#{$screen} and (max-width:#{$mob-point})";

$tab-mediaXl: "#{$screen} and (max-width:#{$tab-pointXl})";

$desktop-mediaL: "#{$screen} and (max-width:#{$desktop-pointL})";

$desktop-mediaXl: "#{$screen} and (max-width:#{$desktop-pointXl})";
